[Unit]
Description=Daily Backup Cleanup Timer

[Timer]
OnCalendar=*-*-* 05:00:00
RandomizedDelaySec=18000
Persistent=True

[Install]
WantedBy=timers.target
